h1
{
    color: blue;
    text-align: center;
}

h2
{   
    color:red;
    text-align: center;
}

table
{
    margin: auto;
}

#stop, #st2
{
    display: none;
}

td
{
    text-align: center;
}

#td1
{
    text-align: right;
}

#td2
{    
    border: 5px solid red;
    border-radius: 10px;
}

#imgActive
{    
    width : 650px; 
    height: 488px;
    text-align: center;
}

#prev:hover, #next:hover, #play:hover, #stop:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

#photo:hover
{
    cursor: pointer;
}